// nextflow.config


/*
=====================================================================
    OXFORD BMRC CLUSTER CONFIGURATION
=====================================================================
*/

process {
  resourceLimits = [
    cpus: 24,
    memory: 96.GB,
    time: 24.h
  ]
}

process {
    // Define the error strategy
    errorStrategy = 'retry'
    maxRetries    = 2
    maxErrors     = '-1'

    // General resource requirements
    queue         = 'short'
    cpus          = { 1 * task.attempt }
    memory        = { 8.GB * task.attempt }
    time          = { 4.h * task.attempt }

    // Process-specific resource requirements
    withLabel: process_single {
        queue  = 'short'
        cpus   = 1
        memory = { 8.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel: process_low {
        queue  = 'short'
        cpus   = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel: process_medium {
        queue  = 'short'
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
}

executor {
    account           = 'band.prj'
    name              = 'slurm'
    queueStatInterval = '100 sec'
    pollInterval      = '10 sec'
}

/*
=====================================================================
    USER-SPECIFIED PARAMETERS
=====================================================================
*/

params {
    // Reference and FASTQ file paths
    samplesheet = "path/to/samplesheet.csv" 
    outdir = "./"
    hifiasm_n_hap = null          // Use 1 for haploid genomes
    hifiasm_purge_dup_lvl = 3     // default = 3. Use 0 for haploid genomes
    hifiasm_d = 5.0               // default = 5.0. Increase to improve contiguity at the expense of longer runtimes
    hifiasm_n = 100               // default = 100. Increase to improve contiguity at the expesne of longer runtimes
}


/*
=====================================================================
    PROCESS-SPECIFIC REQUIREMENTS
=====================================================================
*/

process {
    withName: 'ALIGN_FA_TO_REF_UNORIENTED' {
        publishDir = [
            path: { "${params.outdir}/results/03_ALIGNED_FASTA_UNORIENTED" },
            mode: 'copy'
        ]
    }
    
    withName: 'ALIGN_FA_TO_REF_ORIENTED' {
        publishDir = [
            path: { "${params.outdir}/results/05_ALIGNED_FASTA_ORIENTED" },
            mode: 'copy'
        ]
    }
}


