// nextflow.config

/*
=====================================================================
    OXFORD BMRC CLUSTER CONFIGURATION
=====================================================================
*/

process {
  resourceLimits = [ // max
    cpus: 48,
    memory: 192.GB,
    time: 24.h
  ]
}

process {
    // Define the error strategy
    errorStrategy = 'retry'
    maxRetries    = 2
    maxErrors     = '-1'

    // General resource requirements
    queue         = 'short'
    cpus          = { 1 * task.attempt }
    memory        = { 8.GB * task.attempt }
    time          = { 4.h * task.attempt }

    // Process-specific resource requirements
    withLabel: process_single {
        queue  = 'short'
        cpus   = 1
        memory = { 8.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel: process_low {
        queue  = 'short'
        cpus   = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withLabel: process_medium {
        queue  = 'short'
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
    withLabel: process_high {
        queue  = 'short'
        cpus   = { 16 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
}

executor {
    account           = 'band.prj'
    name              = 'slurm'
    queueStatInterval = '100 sec'
    pollInterval      = '10 sec' 
}

/*
=====================================================================
    USER-SPECIFIED PARAMETERS
=====================================================================
*/

params {
    // Pipeline/process options
    samplesheet = "path/to/samplesheet.csv" 
    outdir = "./"                 // Where the output directory should be created.
    target_depth = null           // Target coverage to downsample the fastq files and create the breadth of coverage plots. Integer. 
    use_region = false            // Whether the coverage statistics should be calculated for specific regions. If true you must specify the paths to the files in the samplesheet.
    hifiasm_n_hap = null          // Use 1 for haploid genomes
    hifiasm_purge_dup_lvl = 3     // default = 3. Use 0 for haploid genomes
    hifiasm_d = 5.0               // default = 5.0. Increase to improve contiguity at the expense of longer runtimes
    hifiasm_n = 100               // default = 100. Increase to improve contiguity at the expesne of longer runtimes
    minimap_asm = "asm10"         // default = "asm10". asm10 is suitable for divergence of a couple %. See the minimap cookbook for more details.
}

/*
=====================================================================
    CONTAINERISATION
=====================================================================
*/

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "$HOME/singularity-cache" // Permanent location so successive pipeline executions do not have to redownload the same images
    ociAutoPull = true // container pull and conversion happen on compute nodes, not head node. When true we encounter a weird error with Docker containers...
}

/*
=====================================================================
    PROCESS-SPECIFIC REQUIREMENTS
=====================================================================
*/

process {
    withName: 'ALIGN_FA_TO_REF_UNORIENTED' {
        publishDir = [
            path: { "${params.outdir}/results/01_ASSEMBLIES/fa_aligned_to_ref_unoriented/${meta.sample_id}" },
            mode: "copy"
        ]
    }
    
    withName: 'ALIGN_FA_TO_REF_ORIENTED' {
        publishDir = [
            path: { "${params.outdir}/results/01_ASSEMBLIES/fa_aligned_to_ref_oriented/${meta.sample_id}" },
            mode: "copy"
        ]
    }
}


